// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #5064CC;
$secondary : #26A69A;
$accent    : #EAEDFC;
$dark      : #2B2B2B;

$indigo-1    : #E8EBFF;
$deep-purple-3: #E3DAF1;
$deep-purple-1: #EDEFFA;
$light-purple-1: #F9FAFE;
$light-purple-2: #F5F7FE;

$grey-4    : #C4C4C4;
$grey-2    : #646464;
$grey-1    : #979797;
$grey-3    : #A4AFE5;
$grey-5    : #F3F2F3;

$green-1   : #D9F6DA;
$green-2   : #00C508;
$green-3   : #00B944;

$positive  : #0EB715;
$negative  : #E74C3C;
$info      : #F5F7FD;
$warning   : #F2C037;

$primary-white : #ffffff;

// blue
$blue-color-dark-1: #5064CC;
$bg-blue-1: rgb(80, 100, 204, .15);

// red
$red-color-dark-1: #F80000;

// green
$bg-green-1: rgb(0, 197, 8, .15);

// purple
$bg-purple-1: #44099F;
